@charset "UTF-8";
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0 4px 25px -22px black;
          box-shadow: 0 4px 25px -22px black;
  z-index: 2;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content .header__logo {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.header__nav {
  height: 100%;
}

.header__nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__nav ul li {
  height: 100%;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__nav ul li a {
  text-decoration: none;
  color: black;
}

.header__nav ul li a:hover {
  background-color: cadetblue;
  color: #fefeff;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tres {
  background-color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 0%;
}

.tres h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-style: unset;
  color: black;
}

.desarrollo h2 {
  color: white;
  font-size: 4em;
  text-shadow: 0 6px 25px -22px black;
  font-family: 'Open Sans', sans-serif;
}

.tituloCarrusel {
  font-family: 'Open Sans', sans-serif;
}

.card-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desarrollo {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.razones h2 {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 6px 25px -22px black;
}

.presencia {
  font-family: 'Roboto', sans-serif;
  font-size: 0,5rem;
  color: black;
}

.section-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px;
  height: 500px;
  background-color: #cac0c2;
}

.section-section .foto {
  border: black 2px solid;
  width: 50%;
  background-color: blanchedalmond;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-section .foto img {
  width: 100%;
}

.section-section .texto {
  width: 50%;
  overflow: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-section .texto .titulo {
  text-align: center;
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  font-size: 6rem;
}

.section-section .texto .parrafo {
  padding: 20px;
  margin: 20px;
  font-size: 1.3rem;
  position: relative;
}

.formulario {
  width: 100%;
  height: auto;
  background-color: white;
  border: white solid 1px;
  margin-top: 50px;
}

.formulario fieldset {
  width: 50%;
  height: 100%;
  border: 1px solid #ccc;
  margin: auto;
  padding: auto;
  background-color: #3db9eb;
}

.formulario input, .formulario textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.formulario label {
  font-size: 12px;
  display: block;
  width: 100%;
}

div {
  margin: 20px;
}

legend {
  margin: 20px;
}

footer {
  width: 100%;
  background-color: #000;
  -webkit-box-shadow: #000;
          box-shadow: #000;
  color: white;
}

footer .container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 40px;
}

footer .container-footer-all .container-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-footer {
  width: 100%;
  background-color: #000000;
  -webkit-box-shadow: #000;
          box-shadow: #000;
  color: white;
  margin-left: 0;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
}

.colum1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.container__whatsapp {
  float: left;
}

.colum2 {
  max-width: 400px;
}

.colum2 h1 {
  font-size: 22px;
}

.row1 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.copyright {
  color: #C7C7C7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #C7C7C7;
}

@media screen and (max-width: 1100px) {
  .container-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colum1 {
    max-width: 100%;
  }
  .colum2,
  .colum3 {
    margin-top: 40px;
  }
}

.bodyNosotros {
  margin: 0;
}

.Contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: auto;
}

.tituloSomos {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 3rem;
  text-align: left;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.textEquipo {
  position: absolute;
  width: 40%;
  font-size: 2rem;
  top: 20%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.651);
  text-align: left;
}

.textEquipo p {
  margin: 20px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* PREsENtACION EQUIPO--------------------------------------------------*/
.articuloFotos {
  background-color: white;
}

.titulosFotos {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: 75px;
}

.presentacionEquipo {
  width: 100%;
  background-color: #dacece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* PREENACION FABIAN--------------------------------------------------*/
.fabian {
  width: 25%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.fabian h3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fotoFabian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fabian p {
  text-align: justify;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* PRESENTACION LEONELA--------------------------------------------------*/
.leonela {
  width: 25%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.leonela h3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fotoLeonela {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leonela p {
  text-align: justify;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* PRESENTACION JUAN--------------------------------------------------*/
.juan {
  width: 25%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.juan h3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fotoJuan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.juan p {
  text-align: justify;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* PRESENTACION CECILIA--------------------------------------------------*/
.cecilia {
  width: 25%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.cecilia h3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.fotoCecilia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cecilia p {
  text-align: justify;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.contenedorGeneral {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  background-color: white;
      grid-template-areas: "foto-portada foto-portada foto-portada foto-portada" "contenedor2 contenedor2 contenedor2 contenedor2" "tipo1 tipo2 tipo3 tipo4";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 2fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
}

.fotoProducto {
  margin-top: 30px;
}

.foto-portada {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: foto-portada;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foto-portada img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  max-height: auto;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: auto;
  position: absolute;
}

.tituloFoto {
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 9em;
  margin-top: 280px;
}

.contenedor2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: contenedor2;
  background-color: white;
  height: auto;
  font-size: 3em;
}

.texto-intro p {
  margin-top: 30px;
  padding: 50px;
}

.tipo1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tipo1;
  width: 100%;
  height: 400px;
  border: 2px solid black;
  background-color: chocolate;
}

.tipo2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tipo2;
  width: 100%;
  height: 400px;
  border: 2px solid black;
  background-color: chocolate;
}

.tipo3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tipo3;
  width: 100%;
  height: 400px;
  border: 2px solid black;
  background-color: chocolate;
}

.tipo4 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: tipo4;
  width: 100%;
  height: 400px;
  border: 2px solid black;
  background-color: chocolate;
}

.container_presentacionFotografia {
  width: 100%;
  padding-top: 80px;
}

.container_presentacionFotografia .foto__presentacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_presentacionFotografia .foto__presentacion .foto__portadaFotografia {
  width: 100%;
  height: inherit;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_presentacionFotografia .titulo__presentacionFotografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 68em;
  height: auto;
  margin-top: 3em;
  border: white solid 5px;
  text-align: center;
}

.magico {
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.palabraFotografía {
  font-size: 8em;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: auto;
  margin: auto;
  width: 70em;
  height: 400px;
  margin-bottom: 0;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
}

.link__producto {
  width: 30%;
  height: 80%;
  border: white solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.link__producto .linkDirecto {
  position: relative;
  text-align: center;
  list-style: none;
  margin: auto;
  padding: auto;
  border: black;
  width: 80%;
  height: auto;
  background-color: blanchedalmond;
}

.linkDirecto a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  text-shadow: 1px 3px 1px white;
}

.link__producto img {
  position: absolute;
  z-index: 0;
}

/*-- aca comienza el link moda--*/
.link__moda {
  width: 30%;
  height: 80%;
  background-color: white;
  border: white solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 20PX;
}

.link__moda .linkDirectoModa {
  position: relative;
  text-align: center;
  list-style: none;
  margin: auto;
  padding: auto;
  border: black;
  width: 80%;
  height: auto;
  background-color: blanchedalmond;
}

.linkDirectoModa a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  text-shadow: 1px 3px 1px white;
}

.link__moda img {
  position: absolute;
  z-index: 0;
}

.link__arquitectura {
  width: 30%;
  height: 80%;
  background-color: white;
  border: white solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 20PX;
}

.link__arquitectura {
  width: 30%;
  height: 80%;
  background-color: white;
  border: white solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 20PX;
}

.link__arquitectura .linkDirectoArquitectura {
  position: relative;
  text-align: center;
  list-style: none;
  margin: auto;
  padding: auto;
  border: black;
  width: 80%;
  height: auto;
  background-color: blanchedalmond;
}

.linkDirectoArquitectura a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  text-shadow: 1px 3px 1px white;
}

.link__arquitectura img {
  position: absolute;
  z-index: 0;
}

.body__proyectos {
  padding-top: 5rem;
  margin: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.proyectosCulminados {
  padding-top: 1rem;
  margin: 0,5rem;
  width: 100%;
}

.proyectosCulminados h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyectosCulminados h4 {
  padding-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ejemplos__proyectos {
  padding-top: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.yourhome__container {
  width: 45%;
  border: 0.2rem inset #363636;
}

.yourhome__container h3 {
  font-size: 1.7rem;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.yourhome__container p {
  padding-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.fotografo__container {
  width: 45%;
  border: 0.2rem inset #363636;
}

.fotografo__container h3 {
  font-size: 1.7rem;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.fotografo__container p {
  padding-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.body__blog {
  margin: 0;
  padding: 0px;
  width: 100%;
}

.bienvenidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
}

.bienvenidos h3 {
  font-size: 6rem;
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin-left: 8rem;
  padding: 5rem;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: aparecer;
          animation-iteration-count: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*-- ACA EMPIEZA LA SEGUNDA SECION DEL BLOG--*/
.dando__pasos {
  text-align: center;
  font-size: 5rem;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dando__padre {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.dando__padre .foto1:hover {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 20%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.dando__padre .p1 {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 70%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5a76f13a), to(white));
  background: linear-gradient(#5a76f13a, white);
}

.dando__padre .tituloParrafo1 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.parrafo1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}

.mayor {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*-- PARRAFO 2 DEL BLOG--*/
.foto2:hover {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 20%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotatex(60deg);
          transform: rotatex(60deg);
}

.p2 {
  margin: 10px;
  padding: 10px;
  width: 70%;
  height: 300px;
  background: -webkit-gradient(linear, right top, left top, from(#5a76f13a), to(white));
  background: linear-gradient(to left, #5a76f13a, white);
}

.tituloParrafo2 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.parrafo2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}

/*-- PARRAFO 3 DEL BLOG--*/
.foto3:hover {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 20%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotatex(60deg);
          transform: rotatex(60deg);
}

.p3 {
  margin: 10px;
  padding: 10px;
  width: 70%;
  height: 300px;
  background: -webkit-gradient(linear, right top, left top, from(#5a76f13a), to(white));
  background: linear-gradient(to left, #5a76f13a, white);
}

.tituloParrafo3 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.parrafo3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}

/*-- PARRAFO 4 DEL BLOG--*/
.foto4:hover {
  margin: 0.625rem;
  padding: 0.625rem;
  width: 20%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotatex(60deg);
          transform: rotatex(60deg);
}

.p4 {
  margin: 10px;
  padding: 10px;
  width: 70%;
  height: 300px;
  background: -webkit-gradient(linear, right top, left top, from(#5a76f13a), to(white));
  background: linear-gradient(to left, #5a76f13a, white);
}

.tituloParrafo4 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.parrafo4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}

menor {
  width: 20%;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.aside1 {
  margin: 10px;
  padding: 0px;
  width: 100%;
  height: 1250px;
  background-color: #504a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.contenidoAside {
  padding: 10px;
  margin: 10px;
  height: 350px;
  width: 90%;
  background-color: #bd9d9d;
  border: 1px solid #111113;
}

.iframe {
  width: 100%;
}
