*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    justify-content: center;
}


.tres{
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0%;

        h2{
            font-family: 'Open Sans', sans-serif;
            font-size: 3rem;
            font-style: unset;
            color: black;
        }
}   


.desarrollo h2{
    color: rgb(255, 255, 255);
    font-size: 4em;
    text-shadow:  0 6px 25px -22px black;
    font-family: 'Open Sans', sans-serif;
}

.tituloCarrusel{
    font-family: 'Open Sans', sans-serif;
}

.card-img{
    position: relative;
    display: flex;
    
}

.desarrollo{
    position: absolute;
    align-items: center;
    
}



.razones h2{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow:  0 6px 25px -22px black;
        
}

.presencia{
    font-family: 'Roboto', sans-serif;
    font-size: 0,5rem;
    color: black;
}

.section-section{
    display: flex;
    width: 100%;
    border: 1px;
    height: 500px;
    background-color: rgb(202, 192, 194);

        .foto{
           border: black 2px solid;
           width: 50%;
           background-color: blanchedalmond;
           display: flex;

            img{
                width: 100%;
            }

        }


        .texto{
            width: 50%;
            overflow: scroll;
            justify-content: center;

            .titulo{
                text-align: center;
                color: #000;
                justify-content: center;
                padding-top: 30px;
                font-size: 6rem;
            }

            .parrafo{
                padding: 20px;
                margin: 20px;
                font-size: 1.3rem;
                position: relative;
                
            }
        }
        
    }