
@import "header";
@import "body";
@import "formulario";
@import "footer";
@import "nosotros";
@import "fotoproducto";

.cointainer_presentacionFotografia{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

    .foto__presentacion{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;

            .foto__portadaFotografia{
                width: 100%;
                height: inherit;
                position: absolute;
                display: flex;
                justify-content: center;
            }
    }
    
    .titulo__presentacionFotografia{
        display: flex;
        position: relative;
        flex-direction: column;
        margin: auto;
        width: 68em;
        height: auto;
        margin-top: 3em;
        border: white solid 5px;
        text-align: center;

    }
}
.magico{
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    color: white;

       
}
.palabraFotografía{
    font-size: 8em;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container__link{
    display: flex;
        position: relative;
        padding: auto;
        margin: auto;
        width: 70em;
        height: 400px;
        margin-bottom: 0;
       
        text-align: center;

       
}

.link__producto{
    width: 30%;
    height: 80%;
    background-color: white;
    border: white solid 1px;
}

.link__moda{
    width: 30%;
    height: 80%;
    background-color: white;
    border: white solid 1px;
}

.link__arquitectura{
    width: 30%;
    height: 80%;
    background-color: white;
    border: white solid 1px;
}